<?xml version="1.0" encoding="UTF-8"?>
<Configuration Log4jContextSelector="org.apache.logging.log4j.core.async.AsyncLoggerContextSelector">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{ABSOLUTE} %5p %c{1} - %m%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="chessAILog" fileName="chessAI.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="AsyncFileLogger">
            <AppenderRef ref="chessAILog"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="AsyncFileLogger" />
        </Root>
    </Loggers>
</Configuration>
